.custom-navbar {
  transition: background .5s ease-in-out;
}

.custom-navbar-scrolled {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-navbar .navbar-toggler {
  border: none;
  font-size: 20px;
}

.custom-navbar .navbar-toggler:focus,
.custom-navbar .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.custom-navbar .navbar-nav {
  justify-content: center;
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  position: relative;
}

@media screen and (min-width: 991px) {
  .custom-navbar .navbar-nav .nav-link {
    color: #fff;
  }
}

.navbar-cta {
background: var(--primary-color);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border: none;
}

.navbar-cta:hover {
background: #e48900 !important;
}

.custom-navbar .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

@media screen and (max-width: 991px) {
  .custom-navbar .navbar-nav .nav-link:before {
    display: none;
  }
}

.custom-navbar .navbar-nav .nav-link:hover:before {
  width: 100%;
}

.custom-navbar .navbar-nav .nav-link.active {
  font-weight: bold;
}

.custom-navbar .nav-item.dropdown .nav-link.dropdown-toggle::after {
  display: none;
}

.custom-navbar .nav-item.dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-navbar .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--primary-color);
}

.custom-navbar .nav-item.dropdown .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.2);
}

.custom-navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

@media screen and (max-width:991px) {
  .custom-navbar {
    color: #333;
  }
}

.profile-img {
  width: 40px;
  height: 40px;
}

.dropdown-menu.profile-dropdown {
  padding: 1rem;
}

.profile-dropdown .dropdown-item {
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.profile-dropdown .dropdown-item:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.profile-dropdown .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.2);
}

/* Adjust the dropdown menu position on the right side of the dropdown toggle */
.profile-dropdown.dropdown-menu-end {
  right: 0;
  left: auto;
}

/* Adjust the profile dropdown menu to show above the dropdown toggle on small screens */
@media screen and (max-width: 991px) {
  .profile-dropdown.dropdown-menu-end {
    right: auto;
    left: 0;
  }
}